main{
   width: 100%;
   height: 800px;
   background-color: #B0D5D8;
   display: flex;
}
.chair{
    max-width: 400px;
    max-height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
   
}