
@mixin Shop {
  font-family: Raleway;
  display: block;
  white-space: nowrap;
  padding: 1.5rem 1rem;
  text-decoration: none;
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  
  font-size: 18px;
  
}
